<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer mode="push" #drawer
    ><div class="drawer-content">
      <mat-selection-list #shoes [multiple]="false">
        <a [routerLink]="['/']">
          <mat-list-option>Feature One</mat-list-option>
        </a>
        <a [routerLink]="['/feature']">
          <mat-list-option>Feature Two</mat-list-option>
        </a>
      </mat-selection-list>
    </div></mat-drawer
  >
  <mat-drawer-content
    ><app-toolbar [drawer]="drawer"></app-toolbar>
    <router-outlet></router-outlet>
    <div class="content"></div
  ></mat-drawer-content>
</mat-drawer-container>
